{% extends 'layout.html'%}
{% load static %}

{% block title%}
  Subscription Plans
{%endblock%}

{%block body_class%}
    bg-zinc-500
{%endblock%}

{%block content%}

<div class="overflow-x-auto shadow-md sm:rounded-lg mx-auto text-center">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-200 dark:bg-gray-700 dark:text-gray-400 ">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Subscription Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Description
                </th>
                <th scope="col" class="px-6 py-3">
                    Duration (in days)
                </th>
                <th scope="col" class="px-6 py-3">
                    Price
                </th>
                <th scope="col" class="px-6 py-3">
                    Payment
                </th>
            </tr>
        </thead>
        <tbody>
            {%for plan in subs_plans%}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:opacity-75 text-black">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{plan.subs_name}}
                </th>
                <td class="px-6 py-4">
                    {{plan.description}}
                </td>
                <td class="px-6 py-4">
                    {{plan.duration_days}}
                </td>
                <td class="px-6 py-4">
                    {{plan.price}}
                </td>
                <td class="px-6 py-4">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Proceed to Pay</a>
                </td>
            </tr>
            {%endfor%}
           
        </tbody>
    </table>
</div>



{% endblock %}